<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:write-to:ColoredConsole"/>
    <!-- Service Url-->
    <!-- Prod and Local Swarm -->
    <add key="BaseUrl" value="http://*:8080"/>
    <!-- Local Dev-->
    <!--<add key="BaseUrl" value="http://*:8081"/>-->

    <!-- Other Services-->
    <!-- Prod and Local Swarm -->
    <add key="AuthServiceUrl" value="http://auth:8080"/>
    <add key="CommsServiceUrl" value="http://comms:8080"/>
    <add key="SessionsServiceUrl" value="http://sessions:8080"/>
    <!-- Local Dev -->
    <!--<add key="AuthServiceUrl" value="http://localhost:9003"/>
    <add key="CommsServiceUrl" value="http://localhost:8082"/>
    <add key="SessionsServiceUrl" value="http://localhost:8083"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.20622.1351"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
