<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:write-to:ColoredConsole"/>

    <add key="BaseUrl" value="http://*:8080"/>
    <add key="CorrespondenceUrl" value="http://comms:8080/correspondence"/>
    <add key="LastContactUrl" value="http://comms:8080/last-contact/"/>
    <add key="SessionsUrl" value="http://sessions:8080/sessions/"/>
    <add key="ProfilesUrl" value="http://sessions:8080/profiles/"/>
    <add key="AuthServiceUrl" value="http://auth:8080"/>

    <!--<add key="BaseUrl" value="http://*:9002"/>-->
    <!--<add key="CorrespondenceUrl" value="http://localhost:9000/correspondence"/>-->
    <!--<add key="LastContactUrl" value="http://localhost:9000/last-contact/"/>-->
    <!--<add key="SessionsUrl" value="http://localhost:9001/sessions/"/>-->
    <!--<add key="ProfilesUrl" value="http://localhost:9001/profiles/"/>-->
    <!--<add key="AuthServiceUrl" value="http://localhost:9003"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.20622.1351"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>